

$cor-de-fundo:#FFFFFF;
$cor-do-input:#F4F4FF;
$cor-de-texto:#090937;
$cor-de-hover:#025464;
$cor-de-view:#EF6B4A;
$cor-de-p:#09093799;
$cor-de-preco:#6251DD;


$font-de-texto:'Manrope', sans-serif;